*{
  box-sizing: border-box;
  border-style: groove;
  border-width: 0.05px;
  border-color: red;
}
body{
  margin:0;
  
}

header {
  display:flex;
  width:100vw;
 justify-content: space-between;
}

ul{
  list-style: none;
  display:flex;
  padding-left:0;
  
}

header h3{
  margin-right: 1rem;
}

.article-card{
  display:flex;
  align-items: center;
  flex-direction: column;
}
.article-list {
  flex-direction: column;
  
}

.article-thumbnail{
  width: 25vw;
  height:auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.single-article{
  display:flex;
  align-items: center;
  flex-direction:column;
}

.single-article-img {
  width: 80vw;
  height:auto;
  aspect-ratio: 1/1;
  object-fit:cover;
}

.single-article-img-figure{
  width: 100vw;
  padding:2rem;
  display:flex;
  justify-content: center;
}