*{
  box-sizing: border-box;
  border-style: groove;
  border-width: 0;
  border-color: red;
}
a{
  text-decoration: none;
}
body{
  margin:0;
  
}
button:active{
  background-color: blue;
} 

header {
  display:flex;
  width:100vw;
  height:3.5em;
 justify-content: space-around;
 position:fixed;
 background-color: black;
 color:white;
 top:0;
 
}

header h3{
  margin-right: 1rem;
  justify-content: ;
}

header a{
  color:white
}
input{
  background-color: rgba(141, 128, 128, 0.4);
  
  
}

ul{
  list-style: none;
  display:flex;
  padding-left:0;
  
}


#comment-submit-button{
  width:25vw;
}

.article-card{
  display:flex;
  align-items: center;
  flex-direction: column;
}
.article-list {
  flex-direction: column;
  
}

.article-thumbnail{
  width: 25vw;
  height:auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.comment-body-entry{
  background-color:rgb(231, 231, 231);
  resize: none;
  
}

.comment-list{
  display: flex;
  flex-direction: column;
}

.comment-submit{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.nav-bar{
  display: flex;
  justify-content:space-between;

}
.nav-bar li{
  padding:0;
  margin:0 10px 0px 10px 
  
  

}
.nav-bar li:hover{
 border-bottom: 0.1em solid;
 border-color: white;
}

.single-article{
  display:flex;
  align-items: center;
  flex-direction:column;
}

.single-article-img {
  width: 80vw;
  height:auto;
  aspect-ratio: 1/1;
  object-fit:cover;
}

.single-article-img-figure{
  width: 100vw;
  padding:2rem;
  display:flex;
  justify-content: center;
}

.topic-choices{
  display:flex;
  justify-content: space-evenly;
  padding-top:50px;
}


.vote-button-clicked{
  background-color: limegreen;
}