*{
  box-sizing: border-box;
  border-style: groove;
  border-width: 0.05px;
  border-color: red;
}

header {
  display:flex;
  width:100vw;
 justify-content: space-between;
}

ul{
  list-style: none;
  display:flex;
  padding-left:0;
  
}

header h3{
  margin-right: 1rem;
}